{
  "Общие": {
    "isCustom": false,
    "bonuses": [
      {
        "name": "Повторная попытка",
        "oneTimed": true,
        "value": -3,
        "tag": "ALL",
        "status": "irden_retry"
      },
      {
        "name": "Вторая повторная попытка",
        "oneTimed": true,
        "value": -6,
        "tag": "ALL",
        "status": "irden_retry2"
      },
      {
        "name": "Бывший пробивной выстрел",
        "oneTimed": true,
        "value": -5,
        "tag": "ALL",
        "status": "irden_piercing_shot"
      },
      {
        "name": "Успешное уклонение",
        "oneTimed": true,
        "value": 5,
        "tag": "ALL",
        "status": "irden_dodge"
      },
      {
        "name": "Глухая оборона",
        "oneTimed": true,
        "value": 5,
        "tag": "DEFENSE",
        "ready": false,
        "status": "irden_defense"
      },
      {
        "name": "Глухое укрытие",
        "oneTimed": true,
        "value": 5,
        "tag": "HIDEOUT",
        "ready": false,
        "status": "irden_hideout"
      },
      {
        "name": "Побег из боя",
        "value": -5,
        "tag": "FLEE",
        "ready": true
      },
      {
        "name": "Тяжёлое оружие - уклонение",
        "value": -10,
        "tag": "DODGE"
      },
      {
        "name": "Вход в бой",
        "oneTimed": true,
        "value": -20,
        "tag": "INITIATIVE"
      }
    ]
  },
  "Противник": {
    "isCustom": false,
    "bonuses": [
      {
        "name": "Шквал ударов",
        "oneTimed": true,
        "value": 5,
        "tag": "ALL"
      },
      {
        "name": "Контрзаклинание",
        "oneTimed": true,
        "value": -5,
        "tag": "MAG"
      },
      {
        "name": "Прицельный выстрел",
        "oneTimed": true,
        "value": 5,
        "tag": "ALL",
        "status": "irden_sniper_shot"
      },
      {
        "name": "Парирование",
        "oneTimed": true,
        "value": -5,
        "tag": "ALL",
        "status": "irden_parry"
      },
      {
        "name": "Захват",
        "oneTimed": true,
        "value": 5,
        "tag": "ALL"
      }
    ]
  },
  "Эффекты": {
    "isCustom": false,
    "bonuses": [
      {
        "name": "Возвращение",
        "oneTimed": false,
        "value": 0,
        "tag": "STATUS_CONTRATTACK",
        "status": "irden_contrattack"
      },
      {
        "name": "Горение",
        "oneTimed": false,
        "value": 0,
        "tag": "STATUS_BURNING",
        "status": "irden_burning"
      },
      {
        "name": "Деморализация",
        "oneTimed": true,
        "value": -10,
        "tag": "ALL",
        "status": "irden_demoralization"
      },
      {
        "name": "Доминирование",
        "oneTimed": true,
        "value": -10,
        "tag": "ALL",
        "status": "irden_dominated"
      },
      {
        "name": "Колющий",
        "oneTimed": false,
        "value": 0,
        "tag": "STATUS_PRICKING",
        "status": "irden_pricking"
      },
      {
        "name": "Кровотечение",
        "oneTimed": false,
        "value": 0,
        "tag": "STATUS_BLEEDING",
        "status": "irden_bleeding"
      },      
      {
        "name": "Манаслабость",
        "oneTimed": false,
        "value": 0,
        "tag": "STATUS_MANAWEAK",
        "status": "irden_manaweak"
      },
      {
        "name": "Мотивация",
        "oneTimed": true,
        "value": 10,
        "tag": "ALL",
        "status": "irden_motivation"
      },      
      {
        "name": "Обморожение",
        "oneTimed": false,
        "value": 0,
        "tag": "STATUS_FROZEN",
        "status": "irden_frozen"
      },
      {
        "name": "Оглушение",
        "oneTimed": false,
        "value": 0,
        "tag": "STATUS_DEAFENED",
        "status": "irden_deafened"
      },
      {
        "name": "Ослабление",
        "oneTimed": false,
        "value": -4,
        "tag": "DAMAGE",
        "status": "irden_weak"
      },
      {
        "name": "Отравление",
        "oneTimed": false,
        "value": -3,
        "tag": "ALL",
        "status": "irden_poison"
      },
      {
        "name": "Ошеломление",
        "oneTimed": false,
        "value": 0,
        "tag": "STATUS_STUNNED",
        "status": "irden_stunned"
      },
      {
        "name": "Пробитие",
        "oneTimed": false,
        "value": 0,
        "tag": "STATUS_PENETRATED",
        "status": "irden_penetrated"
      },
      {
        "name": "Раскрытие",
        "oneTimed": false,
        "value": 0,
        "tag": "STATUS_DEFENSELESS",
        "status": "irden_defenseless"
      },
      {
        "name": "Раскрытие противника",
        "oneTimed": false,
        "value": 4,
        "tag": "DAMAGE",
        "status": "irden_mighty"
      },
      {
        "name": "Растерянность",
        "oneTimed": false,
        "value": 0,
        "tag": "STATUS_CONFUSED",
        "status": "irden_confused"
      },
      {
        "name": "Регенерация",
        "oneTimed": false,
        "value": 0,
        "tag": "STATUS_REGEN",
        "status": "irden_regen"
      },
      {
        "name": "Шок",
        "oneTimed": false,
        "value": 0,
        "tag": "STATUS_SHOCK",
        "status": "irden_shock"
      }
    ]
  },
  "Оружие ближнего боя": {
    "isCustom": false,
    "type": "stuff",
    "bonuses": [
      {
        "name": "Голые Руки",
        "value": 0,
        "tag": "MELEE_NONE_DAMAGE"
      },
      {
        "name": "Лёгкое",
        "value": 4,
        "tag": "MELEE_LIGHT_DAMAGE"
      },
      {
        "name": "Среднее",
        "value": 6,
        "tag": "MELEE_MIDDLE_DAMAGE"
      },
      {
        "name": "Тяжёлое",
        "value": 8,
        "tag": "MELEE_HEAVY_DAMAGE"
      }
    ]
  },
  "Оружие дальнего боя": {
    "isCustom": false,
    "type": "stuff",
    "bonuses": [
      {
        "name": "Голые Руки",
        "value": 0,
        "tag": "RANGED_NO_DAMAGE"
      },
      {
        "name": "Одноручное",
        "value": 3,
        "tag": "RANGED_ONEHANDED_DAMAGE"
      },
      {
        "name": "Одноручное (авт)",
        "value": 8,
        "tag": "RANGED_ONEHANDED_AUTO_DAMAGE"
      },
      {
        "name": "Двуручное",
        "value": 5,
        "tag": "RANGED_TWOHANDED_DAMAGE"
      },
      {
        "name": "Двуручное (авт)",
        "value": 12,
        "tag": "RANGED_TWOHANDED_AUTO_DAMAGE"
      },
      {
        "name": "Т-я артиллерия",
        "value": 28,
        "tag": "RANGED_HEAVY_DAMAGE"
      },
      {
        "name": "Т-я артиллерия: попадание",
        "value": -10,
        "tag": "RANGED_HEAVY_HIT"
      }
    ]
  },
  "Магическое оружие": {
    "isCustom": false,
    "type": "stuff",
    "bonuses": [
      {
        "name": "Голые Руки",
        "value": 0,
        "tag": "MAGIC_NO_DAMAGE"
      },
      {
        "name": "Лёгкое",
        "value": 3,
        "tag": "MAGIC_LIGHT_DAMAGE"
      },
      {
        "name": "Среднее",
        "value": 5,
        "tag": "MAGIC_MIDDLE_DAMAGE"
      },
      {
        "name": "Тяжёлое",
        "value": 7,
        "tag": "MAGIC_HEAVY_DAMAGE"
      }
    ]
  },
  "Щиты: парирование / блокирование": {
    "isCustom": false,
    "type": "stuff",
    "bonuses": [
      {
        "name": "Нета щита",
        "value": 0,
        "tag": "SHEILDS_NO_DEFENSE"
      },
      {
        "name": "Малый щит",
        "value": 1,
        "tag": "SHEILDS_LIGHT_DEFENSE"
      },
      {
        "name": "Средний щит",
        "value": 2,
        "tag": "SHEILDS_MIDDLE_DEFENSE"
      },
      {
        "name": "Большой щит",
        "value": 3,
        "tag": "SHIELDS_HEAVY_DEFENSE"
      }
    ]
  },
  "Физ Броня": {
    "isCustom": false,
    "type": "stuff",
    "bonuses": [
      {
        "name": "Лёгкая: броня",
        "value": 2,
        "tag": "ARMOUR_LIGHT_DEFENSE"
      },
      {
        "name": "Лёгкая: уклонение",
        "value": -1,
        "tag": "ARMOUR_LIGHT_DODGE"
      },
      {
        "name": "Средняя: броня",
        "value": 3,
        "tag": "ARMOUR_MIDDLE_DEFENSE"
      },
      {
        "name": "Средняя: защита",
        "value": -2,
        "tag": "ARMOUR_MIDDLE_DEBUFF"
      },
      {
        "name": "Тяжёлая: броня",
        "value": 5,
        "tag": "ARMOUR_HEAVY_DEFENSE"
      },
      {
        "name": "Тяжёлая: защита",
        "value": -3,
        "tag": "ARMOUR_HEAVY_DEBUFF"
      }
    ]
  },
  "Маг Броня": {
    "isCustom": false,
    "type": "stuff",
    "bonuses": [
      {
        "name": "Амулет: броня",
        "value": 2,
        "tag": "ARMOUR_AMULET_DEFENSE"
      },
      {
        "name": "Амулет: блокирование",
        "value": -1,
        "tag": "ARMOUR_AMULET_BLOCK"
      },
      {
        "name": "Талисман: броня",
        "value": 3,
        "tag": "ARMOUR_TALISMAN_DEFENSE"
      },
      {
        "name": "Талисман: защита",
        "value": -2,
        "tag": "ARMOUR_TALISMAN_DEBUFF"
      },
      {
        "name": "Апотропей: броня",
        "value": 5,
        "tag": "ARMOUR_APOTROPEY_DEFENSE"
      },
      {
        "name": "Апотропей: защита",
        "value": -3,
        "tag": "ARMOUR_APOTROPEY_DEBUFF"
      }
    ]
  },
  "Передвижение": {
    "isCustom": false,
    "type": "actions",
    "bonuses": [
      {
        "name": "Без брони",
        "value": 3,
        "tag": "MOVE_DISTANCE_NO"
      },
      {
        "name": "В лёгкой броне",
        "value": 3,
        "tag": "MOVE_DISTANCE_LIGHT"
      },
      {
        "name": "В средней броне",
        "value": 2,
        "tag": "MOVE_DISTANCE_MIDDLE"
      },
      {
        "name": "В тяжёлой броне",
        "value": 2,
        "tag": "MOVE_DISTANCE_HEAVY"
      }
    ]
  },
  "Атаки ближнего боя": {
    "isCustom": false,
    "type": "actions",
    "bonuses": [
      {
        "name": "Обычный у-р: попадание",
        "value": 0,
        "tag": "FIGHT_MELEE_NO_HIT"
      },
      {
        "name": "Обычный у-р: урон",
        "value": 0,
        "tag": "FIGHT_MELEE_NO_DAMAGE"
      },
      {
        "name": "Точный у-р: попадание",
        "value": 4,
        "tag": "FIGHT_MELEE_PRECISE_HIT"
      },
      {
        "name": "Точный у-р: урон",
        "value": -4,
        "tag": "FIGHT_MELEE_PRECISE_DAMAGE"
      },
      {
        "name": "Сильный у-р: попадание",
        "value": -4,
        "tag": "FIGHT_MELEE_HEAVY_HIT"
      },
      {
        "name": "Сильный у-р: урон",
        "value": 4,
        "tag": "FIGHT_MELEE_HEAVY_DAMAGE"
      },
      {
        "name": "Шквал у-в: попадание",
        "value": -4,
        "tag": "FIGHT_MELEE_BARREL_HIT"
      },
      {
        "name": "Шквал у-в: урон",
        "value": 6,
        "tag": "FIGHT_MELEE_BARREL_DAMAGE"
      },
      {
        "name": "Парирование",
        "value": 0,
        "tag": "FIGHT_MELEE_PARRY"
      },
      {
        "name": "Уклонение",
        "value": 0,
        "tag": "FIGHT_MELEE_DODGE"
      }
    ]
  },
  "Атаки дальнего боя": {
    "isCustom": false,
    "type": "actions",
    "bonuses": [
      {
        "name": "Обычный в-л: попадание",
        "value": 0,
        "tag": "FIGHT_RANGED_NO_HIT"
      },
      {
        "name": "Обычный в-л: урон",
        "value": 0,
        "tag": "FIGHT_RANGED_NO_DAMAGE"
      },
      {
        "name": "Прицельный в-л: попадание",
        "value": 4,
        "tag": "FIGHT_RANGED_AIMED_HIT"
      },
      {
        "name": "Прицельный в-л: урон",
        "value": 0,
        "tag": "FIGHT_RANGED_AIMED_DAMAGE"
      },
      {
        "name": "Пробивной в-л: попадание",
        "value": 0,
        "tag": "FIGHT_RANGED_PUNCH_HIT"
      },
      {
        "name": "Пробивной в-л: урон",
        "value": 4,
        "tag": "FIGHT_RANGED_PUNCH_DAMAGE"
      },
      {
        "name": "Быстрый в-л: попадание",
        "value": 0,
        "tag": "FIGHT_RANGED_QUICK_HIT"
      },
      {
        "name": "Быстрый в-л: урон",
        "value": 0,
        "tag": "FIGHT_RANGED_QUICK_DAMAGE"
      },
      {
        "name": "Блокирование",
        "value": 0,
        "tag": "FIGHT_RANGED_BLOCK"
      },
      {
        "name": "Отскок за укрытие",
        "value": 0,
        "tag": "FIGHT_RANGED_JUMP"
      }
    ]
  },
  "Атаки магией": {
    "isCustom": false,
    "type": "actions",
    "bonuses": [
      {
        "name": "Заклинания: попадание",
        "value": 0,
        "tag": "FIGHT_MAGIC_HIT"
      },
      {
        "name": "Заклинания: урон",
        "value": 0,
        "tag": "FIGHT_MAGIC_DAMAGE"
      },
      {
        "name": "Контр-заклинание",
        "value": 0,
        "tag": "FIGHT_MAGIC_COUNTER"
      },
      {
        "name": "Отскок за укрытие",
        "value": 0,
        "tag": "FIGHT_MAGIC_JUMP"
      }
    ]
  },
  "Другие атаки": {
    "isCustom": false,
    "type": "actions",
    "bonuses": [
      {
        "name": "Деморализация: попадание",
        "value": 0,
        "tag": "FIGHT_DEMORALIZATION"
      },
      {
        "name": "Стелс: попадание",
        "value": 0,
        "tag": "FIGHT_STEALTH"
      }
    ]
  },
  "Попытки добычи": {
    "isCustom": false,
    "type": "actions",
    "bonuses": [
      {
        "name": "Охота",
        "value": 0,
        "tag": "RESOURSE_HUNTING"
      },
      {
        "name": "Рыбалка",
        "value": 0,
        "tag": "RESOURSE_FISHING"
      },
      {
        "name": "Травничество",
        "value": 0,
        "tag": "RESOURSE_HERBALISM"
      },
      {
        "name": "Добыча руды",
        "value": 0,
        "tag": "RESOURSE_MINING"
      },
      {
        "name": "Добыча камня",
        "value": 0,
        "tag": "RESOURSE_QUARRY"
      },
      {
        "name": "Рубка деревьев",
        "value": 0,
        "tag": "RESOURSE_CHOPPING"
      },
      {
        "name": "Поиск драгоценностей",
        "value": 0,
        "tag": "RESOURSE_RICHES"
      },
      {
        "name": "Обработка дерева",
        "value": 0,
        "tag": "RESOURSE_WOODDOING"
      }
    ]
  }
}