[
  {
    "event": "mining",
    "action": "Добычу руды",
    "stat": "STR",
    "icon": "/interface/scripted/irdenstatmanager/resources/icons/mining.png",
    "tags": ["MINING"],
    "type": "treshold",
    "treshold": 18,
    "onCrit": "richesCrit",
    "name": "Добыча руды"
  },
  {
    "event": "quarry",
    "action": "Добычу камня",
    "stat": "STR",
    "icon": "/interface/scripted/irdenstatmanager/resources/icons/quarry.png",
    "tags": ["QUARRY"],
    "type": "treshold",
    "treshold": 18,
    "onCrit": "quarryCrit",
    "name": "Добыча камня"
  },
  {
    "event": "riches",
    "action": "Поиск драгоценностей",
    "stat": "PER",
    "icon": "/interface/scripted/irdenstatmanager/resources/icons/minerals.png",
    "tags": ["RICHES"],
    "type": "range",
    "onCrit": "richesCrit",
    "name": "Поиск драг-ей"
  },
  {
    "event": "prey",
    "action": "Охоту",
    "stat": "PER",
    "icon": "/interface/scripted/irdenstatmanager/resources/icons/hunting.png",
    "tags": ["HUNTING"],
    "type": "treshold",
    "treshold": 18,
    "onCrit": "preyCrit",
    "name": "Охота"
  },
  {
    "event": "fishing",
    "action": "Рыбалку",
    "stat": "REF",
    "icon": "/interface/scripted/irdenstatmanager/resources/icons/fishing.png",
    "tags": ["FISHING"],
    "type": "treshold",
    "onCrit": "fishingCrit",
    "treshold": 18,
    "name": "Рыбалка"
  },
  {
    "event": "herbalism",
    "action": "Травничество",
    "stat": "PER",
    "icon": "/interface/scripted/irdenstatmanager/resources/icons/herbalism.png",
    "tags": ["HERBALISM"],
    "type": "treshold",
    "onCrit": "herbalismCrit",
    "treshold": 18,
    "name": "Травничество"
  },
  {
    "event": "chopping",
    "action": "Рубку деревьев",
    "stat": "STR",
    "icon": "/interface/scripted/irdenstatmanager/resources/icons/chopping.png",
    "tags": ["CHOPPING"],
    "type": "treshold",
    "treshold": 24,
    "name": "Рубка деревьев"
  },

  {
    "event": "wooddoing",
    "stat": "STR",
    "action": "Обработку дерева",
    "icon": "/interface/scripted/irdenstatmanager/resources/icons/wooddoing.png",
    "tags": ["WOODDOING"],
    "type": "range",
    "onCrit": "wooddoingCrit",
    "name": "Обработка дерева"
  }
]