{
  "tbxFightname": {  
    "type": "textbox",
    "position": [10, 155],
    "hint": "Введите имя боя",
    "callback": "null"
  },
  "btnFindFight": {
    "type": "button",
    "position": [100, 153],
    "caption": "Искать бой",
    "base": "/interface/button.png",
    "callback": "findFightToManage"
  },

  "lytCurrentFight": {
    "type": "layout",
    "layoutType": "basic",
    "rect": [0, 0, 258, 167],
    "visible": false,
    "children": {
      "lblCurrentRound": {
        "type": "label",
        "value": "",
        "position": [155, 137]
      },
    
      "lblCurrentPlayer": {
        "type": "label",
        "value": "",
        "position": [155, 127]
      },

      "btnForceTurn": {
        "type": "button",
        "base": "/interface/buttonred.png",
        "hover": "/interface/buttonredhover.png",
        "caption": "Cкип хода",
        "position": [190, 20],
        "callback": "forceNextTurn"
      },

      "btnEndFight": {
        "type": "button",
        "base": "/interface/buttonred.png",
        "hover": "/interface/buttonredhover.png",
        "caption": "Конец боя",
        "position": [190, 0],
        "callback": "finishFight"
      },

      "lytChangeInit": {
        "type": "layout",
        "layoutType": "basic",
        "rect": [150, 0, 250, 200],
        "visible": false,
        "children": {
          "lblName": {
            "type": "label",
            "position": [5, 80],
            "value": ""
          },
          "tbxInit": {
            "type": "textbox",
            "regex": "\\-?\\d{0,2}",
            "callback": "null",
            "position": [35, 60],
            "hint": "00",
            "value": ""
          },
          "btnAccept": {
            "type": "button",
            "base": "/interface/buttonactive.png",
            "hover": "/interface/buttonactivehover.png",
            "position": [50, 55],
            "caption": "Изменить",
            "callback": "changeInitiative"
          }
        }
      },
    
      "saFighters": {
        "type": "scrollArea",
        "rect": [10, 0, 152, 150],
        "children": {
          "listFighters": {
            "type": "list",
            "callback": "null",
            "zLevel": 0,
            "position": [0, 0],
            "schema": {
              "selectedBG": "/interface/scripted/irdenstatmanager/listbackground.png",
              "unselectedBG": "/interface/scripted/irdenstatmanager/listbackground.png",
              "spacing": [0, 0],
              "memberSize": [140, 20],
              "listTemplate": {
                "background": {
                  "type": "image",
                  "file": "/interface/scripted/irdenstatmanager/listbackground.png"
                },
                "lblInitiative": {
                  "type": "label",
                  "hAnchor": "mid",
                  "position": [9, 3],
                  "fontSize": 11
                },
                "lblName": {
                  "type": "label",
                  "value": "",
                  "position": [20, 2]
                },
                "btnKick": {
                  "type": "button",
                  "position": [115, 2],
                  "caption": "-",
                  "base": "/interface/scripted/irdenstatmanager/buttondelete.png",
                  "hover": "/interface/scripted/irdenstatmanager/buttondeletehover.png",
                  "callback": "kickFromFight"
                },
                "btnKChangeInit": {
                  "type": "button",
                  "position": [100, 2],
                  "caption": "^",
                  "base": "/interface/scripted/irdenstatmanager/buttoncreate.png",
                  "hover": "/interface/scripted/irdenstatmanager/buttoncreatehover.png",
                  "callback": "prepareChangeInitiative"
                }
              }
            }
          }
        }
      }
    }
  }
}