{
  "gui": {
    "background": {
			"type": "background",
			"fileHeader": "/interface/popup/header.png",
			"fileBody": "/interface/popup/body.png",
			"fileFooter": "/interface/popup/footer.png"
		},
    "title": {
      "type": "title",
      "title": "Импорт ISM данных",
      "subtitle": "Импортировать данные?",
      "icon": {
				"type": "image",
				"file": "/interface/confirmation/confirmationicon.png",
				"position": [ 0, 0 ],
				"zlevel": -1
			}
    },
    "tbxImport": {
      "type": "textbox",
      "position": [30, 60],
      "callback": "null",
      "hint": "Вставьте JSON данные",
      "regex": "[^]*"
    },
    "import": {
      "type": "button",
      "base": "/interface/buttonred.png",
      "hover": "/interface/buttonredhover.png",
      "position": [ 180, 22 ],
      "caption": "Готово"
    },
    "close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [ 0, 0 ],
			"position": [
				247, 103
			]
		}
  },
  "scriptWidgetCallbacks": [
    "import"
  ],
  "scripts": [
		"/interface/scripted/irdenstatmanager/export/confirmImport/confirmImport.lua"
	],

  "confirmationPaneLayout": {
		"panefeature": {
			"type": "panefeature"
		},
		"background": {
			"type": "background",
			"fileBody": "/interface/confirmation/body.png",
			"fileHeader": "/interface/confirmation/header.png",
			"fileFooter": "/interface/confirmation/footer.png"
		},
		"message": {
			"type": "label",
			"hAnchor": "mid",
			"position": [ 120, 90 ]
		},
		"ok": {
			"type": "button",
			"caption": "Да",
			"base": "/interface/button.png",
			"hover": "/interface/buttonhover.png",
			"position": [ 15, 40 ] 
		},
		"cancel": {
			"type": "button",
			"caption": "Нет",
			"base": "/interface/buttonred.png",
			"hover": "/interface/buttonredhover.png",
			"position": [ 160, 40 ]
		}
	}
}